botasaurus>=4.0.36
psycopg2-binary>=2.9.9
sqlalchemy>=2.0
matplotlib>=3.7
seaborn>=0.12
pandas>=2.0
python-dotenv>=1.0
textual>=0.50.0
textual-plotext>=0.2.0
langchain
langchain-community
langchain-openai
langgraph
dotenv
